# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\repository\CustomerRelativeManager codebase based on best match to current usage at 2021.5.7
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true

[*]
charset = utf-8
end_of_line = lf

[*.{cc, h, cpp, hpp}]
indent_style = space
indent_size = 2

[*.{html, js, json, css}]
indent_style = space
indent_size = 2